@import url('https://fonts.googleapis.com/css?family=Muli:400,400i,700&display=swap');
 /*------------- Whole Document---------------- */

body {
    font-family: 'Muli';
    font-size: 19px;
}



.main-container {
    max-width: 100% !important;
    margin-left: auto;
    margin-right: auto;
}

.mycontent{
      max-width: 900px !important;
      margin-left: auto;
      margin-right: auto;
      font-family: 'Montserrat';
      font-size: 130%;
      line-height: 1.7;
      padding-right: 15px;
      padding-left: 15px;
}
